<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="826cc309-e8bb-4a12-b6b3-a81dc4b5536e" Alias="pressItem" Level="2">
  <Info>
    <Name>Press Item</Name>
    <Icon>icon-newspaper-alt color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="2cd78d0d-9cc0-4f45-9255-11974a138ded">header</Composition>
    </Compositions>
    <DefaultTemplate>PressItem</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="6897fcfe-3e98-4683-9ba2-eef8ff20c589">PressItem</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>