<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1605d443-c431-47f3-b07d-fa00cb7b38ab" Alias="pressReleases" Level="2">
  <Info>
    <Name>Press Releases</Name>
    <Icon>icon-newspaper color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="2cd78d0d-9cc0-4f45-9255-11974a138ded">header</Composition>
      <Composition Key="00636d08-4d9d-4b7c-84c6-41d6b28f5a34">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>PressReleases</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ff1f9bcf-6f72-4294-90c4-148cc28576f9">PressReleases</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="826cc309-e8bb-4a12-b6b3-a81dc4b5536e" SortOrder="0">pressItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>