<?xml version="1.0" encoding="utf-8"?>
<Content Key="8351b434-e992-489b-91e9-61c81d4fe348" Alias="Kontakt" Level="2">
  <Info>
    <Parent Key="3d1a10b7-b0d0-46a3-bce6-3e6760ff7d65">Start</Parent>
    <Path>/Start/Kontakt</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2023-10-02T23:36:08</CreateDate>
    <NodeName Default="Kontakt" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7988b6d9-d14b-448c-9b70-999597eb4c6d">ContactPage</Template>
  </Info>
  <Properties>
    <address>
      <Value><![CDATA[Storgatan 1]]></Value>
    </address>
    <description>
      <Value><![CDATA[Här kan ni nå mig]]></Value>
    </description>
    <email>
      <Value><![CDATA[per.norin@yh.nackademin.se]]></Value>
    </email>
    <telephone>
      <Value><![CDATA[123456789]]></Value>
    </telephone>
    <title>
      <Value><![CDATA[Kontakta mig]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>