<?xml version="1.0" encoding="utf-8"?>
<Content Key="1888f3bc-1ce3-462d-a6f7-2b7e04708148" Alias="Nyheter" Level="2">
  <Info>
    <Parent Key="3d1a10b7-b0d0-46a3-bce6-3e6760ff7d65">Start</Parent>
    <Path>/Start/Nyheter</Path>
    <Trashed>false</Trashed>
    <ContentType>pressReleases</ContentType>
    <CreateDate>2023-10-03T01:43:26</CreateDate>
    <NodeName Default="Nyheter" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ff1f9bcf-6f72-4294-90c4-148cc28576f9">PressReleases</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <title>
      <Value><![CDATA[Nyheter]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>