<?xml version="1.0" encoding="utf-8"?>
<Content Key="385ab423-8544-43df-9bed-f6f50e8aedf3" Alias="Om mig" Level="2">
  <Info>
    <Parent Key="3d1a10b7-b0d0-46a3-bce6-3e6760ff7d65">Start</Parent>
    <Path>/Start/OmMig</Path>
    <Trashed>false</Trashed>
    <ContentType>standardPage</ContentType>
    <CreateDate>2023-10-03T00:41:13</CreateDate>
    <NodeName Default="Om mig" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="85a89011-c7e9-4858-86dd-ae5ed9255ca1">StandardPage</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Det här är jag]]></Value>
    </description>
    <image>
      <Value><![CDATA[[
  {
    "key": "c8360328-5af5-4830-9e6a-e71cabc39f01",
    "mediaKey": "77660d23-f183-4f32-a517-04b8dc6d739e"
  }
]]]></Value>
    </image>
    <text>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet purus gravida quis blandit. Sapien faucibus et molestie ac. Amet venenatis urna cursus eget nunc scelerisque viverra mauris in. Integer eget aliquet nibh praesent tristique. Eget velit aliquet sagittis id consectetur. Tortor consequat id porta nibh venenatis. Commodo odio aenean sed adipiscing diam donec adipiscing. Tortor dignissim convallis aenean et tortor at risus viverra. Sociis natoque penatibus et magnis dis parturient montes.]]></Value>
    </text>
    <title>
      <Value><![CDATA[Om mig]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>