<?xml version="1.0" encoding="utf-8"?>
<Content Key="587ae4fa-4c7b-428b-ae69-1910c2f83f2c" Alias="Press Item 7" Level="3">
  <Info>
    <Parent Key="1888f3bc-1ce3-462d-a6f7-2b7e04708148">Nyheter</Parent>
    <Path>/Start/Nyheter/PressItem7</Path>
    <Trashed>false</Trashed>
    <ContentType>pressItem</ContentType>
    <CreateDate>2023-10-03T16:36:14</CreateDate>
    <NodeName Default="Press Item 7" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6897fcfe-3e98-4683-9ba2-eef8ff20c589">PressItem</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Skapat av CMSEditor]]></Value>
    </description>
    <title>
      <Value><![CDATA[Press Item 7]]></Value>
    </title>
  </Properties>
</Content>