<?xml version="1.0" encoding="utf-8"?>
<Content Key="353498a6-71e7-4ff0-aa5e-9e09ff5649f6" Alias="Pressitem4" Level="3">
  <Info>
    <Parent Key="1888f3bc-1ce3-462d-a6f7-2b7e04708148">Nyheter</Parent>
    <Path>/Start/Nyheter/Pressitem4</Path>
    <Trashed>false</Trashed>
    <ContentType>pressItem</ContentType>
    <CreateDate>2023-10-03T13:25:46</CreateDate>
    <NodeName Default="Pressitem4" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6897fcfe-3e98-4683-9ba2-eef8ff20c589">PressItem</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Nåt annat har hänt]]></Value>
    </description>
    <title>
      <Value><![CDATA[Press Item 4]]></Value>
    </title>
  </Properties>
</Content>