<?xml version="1.0" encoding="utf-8"?>
<Content Key="bf3f34b8-c878-48e6-800f-fb76f76ae52d" Alias="Pressitem6" Level="3">
  <Info>
    <Parent Key="1888f3bc-1ce3-462d-a6f7-2b7e04708148">Nyheter</Parent>
    <Path>/Start/Nyheter/Pressitem6</Path>
    <Trashed>false</Trashed>
    <ContentType>pressItem</ContentType>
    <CreateDate>2023-10-03T13:26:25</CreateDate>
    <NodeName Default="Pressitem6" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6897fcfe-3e98-4683-9ba2-eef8ff20c589">PressItem</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Nu har det hänt en till grej]]></Value>
    </description>
    <title>
      <Value><![CDATA[Press Item 6]]></Value>
    </title>
  </Properties>
</Content>