<?xml version="1.0" encoding="utf-8"?>
<Content Key="2f050b11-109d-45bc-9c13-d2733be2d238" Alias="Pressitem5" Level="3">
  <Info>
    <Parent Key="1888f3bc-1ce3-462d-a6f7-2b7e04708148">Nyheter</Parent>
    <Path>/Start/Nyheter/Pressitem5</Path>
    <Trashed>false</Trashed>
    <ContentType>pressItem</ContentType>
    <CreateDate>2023-10-03T13:26:05</CreateDate>
    <NodeName Default="Pressitem5" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6897fcfe-3e98-4683-9ba2-eef8ff20c589">PressItem</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <title>
      <Value><![CDATA[Press item 5]]></Value>
    </title>
  </Properties>
</Content>