<?xml version="1.0" encoding="utf-8"?>
<Content Key="bb762f43-12e6-4a44-ba8c-db01c86cdb33" Alias="pressitem2" Level="3">
  <Info>
    <Parent Key="1888f3bc-1ce3-462d-a6f7-2b7e04708148">Nyheter</Parent>
    <Path>/Start/Nyheter/pressitem2</Path>
    <Trashed>false</Trashed>
    <ContentType>pressItem</ContentType>
    <CreateDate>2023-10-03T12:56:47</CreateDate>
    <NodeName Default="pressitem2" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6897fcfe-3e98-4683-9ba2-eef8ff20c589">PressItem</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <title>
      <Value><![CDATA[Press Item 2]]></Value>
    </title>
  </Properties>
</Content>