<?xml version="1.0" encoding="utf-8"?>
<Content Key="a537ad87-af03-4ac4-ab11-78bfcffc6336" Alias="pressitem3" Level="3">
  <Info>
    <Parent Key="1888f3bc-1ce3-462d-a6f7-2b7e04708148">Nyheter</Parent>
    <Path>/Start/Nyheter/pressitem3</Path>
    <Trashed>false</Trashed>
    <ContentType>pressItem</ContentType>
    <CreateDate>2023-10-03T13:25:24</CreateDate>
    <NodeName Default="pressitem3" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6897fcfe-3e98-4683-9ba2-eef8ff20c589">PressItem</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Nåt har hänt]]></Value>
    </description>
    <title>
      <Value><![CDATA[Press Item 3]]></Value>
    </title>
  </Properties>
</Content>