<?xml version="1.0" encoding="utf-8"?>
<Content Key="32e56367-c778-4ff3-ac1e-0ffafc211f85" Alias="pressitem1" Level="3">
  <Info>
    <Parent Key="1888f3bc-1ce3-462d-a6f7-2b7e04708148">Nyheter</Parent>
    <Path>/Start/Nyheter/pressitem1</Path>
    <Trashed>false</Trashed>
    <ContentType>pressItem</ContentType>
    <CreateDate>2023-10-03T01:43:41</CreateDate>
    <NodeName Default="pressitem1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6897fcfe-3e98-4683-9ba2-eef8ff20c589">PressItem</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <title>
      <Value><![CDATA[Press item 1]]></Value>
    </title>
  </Properties>
</Content>