<?xml version="1.0" encoding="utf-8"?>
<Content Key="19289a78-46f5-43db-b6b2-877763e0fe02" Alias="Search" Level="2">
  <Info>
    <Parent Key="3d1a10b7-b0d0-46a3-bce6-3e6760ff7d65">Start</Parent>
    <Path>/Start/Search</Path>
    <Trashed>false</Trashed>
    <ContentType>searchPage</ContentType>
    <CreateDate>2023-10-03T02:05:45</CreateDate>
    <NodeName Default="Search" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b5c2825e-313f-45e1-a94d-1631ab2f73e6">SearchPage</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <title>
      <Value><![CDATA[Sök]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>