<?xml version="1.0" encoding="utf-8"?>
<Content Key="3d1a10b7-b0d0-46a3-bce6-3e6760ff7d65" Alias="Start" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Start</Path>
    <Trashed>false</Trashed>
    <ContentType>startPage</ContentType>
    <CreateDate>2023-10-02T22:07:50</CreateDate>
    <NodeName Default="Start" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8026fadb-ec46-492d-a33f-895ac326bf3d">StartPage</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Här är min webbplats]]></Value>
    </description>
    <image>
      <Value><![CDATA[[
  {
    "key": "f4e6531a-c5d2-4e4a-843a-4cf837be5051",
    "mediaKey": "b07cd377-ef82-49b3-b19e-9f6e4ae241e1"
  }
]]]></Value>
    </image>
    <title>
      <Value><![CDATA[Hellooo]]></Value>
    </title>
  </Properties>
</Content>