@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ContactPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<div class="text-center mt-5">
	<h2 class="p-3">
		@Model.Description
	</h2>
	@if (Model.Telephone != null && Model.Telephone.Length > 0)
	{
		<div class="m-2 h5">Phone: @Model.Telephone</div>
	}
	@if (Model.Email != null && Model.Email.Length > 0)
	{
		<div class="m-2 h5">Email: @Model.Email</div>
	}
	@if (Model.Address != null && Model.Address.Length > 0)
	{
		<div class="m-2 h5">Address: @Model.Address</div>
	}
</div>


