@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.PressItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
	var newsPage = Umbraco.AssignedContentItem.AncestorOrSelf<PressReleases>();
}
<a href="@newsPage.Url()">tillbaka</a>
<p>@Model.UpdateDate.ToString("D")</p>
