@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.StandardPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<p class="text-center lead m-3">
	@Model.Description
</p>
<div class="row align-items-center px-5">
	<img src="@Model.Image.Url()" style="max-height: 300px; width: auto;" class="col-4" />
	<p class ="col-8 mx-5">
		@Model.Text
	</p>
</div>
