@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.StartPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<div class="text-center h3 m-3">
	@Model.Description
</div>
<div class="position-relative my-5">
    <img src="@Model.Image.Url()" class="w-100" />
    <div class="position-absolute top-0 start-0 bottom-0 end-0 d-flex justify-content-center text-center" style="background-color: rgba(0, 0, 0, 0.5)">
        
        <p class="my-auto text-white w-75 lead">@Model.Text</p>
    </div>
</div>
@*<img src="@Model.Image.Url()" class="img-fluid " />*@