<?xml version="1.0" encoding="utf-8"?>
<Media Key="b07cd377-ef82-49b3-b19e-9f6e4ae241e1" Alias="Dsc 0051" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Dsc0051</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-02T22:09:19</CreateDate>
    <NodeName Default="Dsc 0051" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ohjhzmec/dsc_0051.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>